@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans';
    color: aliceblue;
}

body {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(102, 78, 236);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(226, 120, 120);
    background-color: rgb(233, 183, 183);
    color: lightcoral;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    color: rgb(240, 248, 255);
}

#counter {
    display: flex;
}

#currentNumber {

    height: 40px;
    width: 40px;
    display: flex;
    background-color: aliceblue;
    padding-left: 30px;
    padding-right: 3px;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    font-size: 16px;
    border-radius: 10px;
}